// src/app/layout/footer/footer.component.scss
footer {
  background-color: #f8f9fa;
  color: #333;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #e7e7e7;
  margin-top: auto; // İçeriği yukarı iter
  width: 100%;
}
