<!-- src/app/features/admin/dashboard/admin-dashboard.component.html -->
<div class="admin-dashboard-container">
  <h2>Admin Dashboard</h2>
  <p>Welcome to the admin panel. Here you can manage users, products, orders, and more.</p>

  <div class="dashboard-links">
    <a routerLink="/admin/user-management" class="dashboard-link">User Management</a>
    <a routerLink="/admin/product-management" class="dashboard-link">Product Management</a>
    <a routerLink="/admin/orders" class="dashboard-link">Order Management</a>
    <!-- Diğer admin linkleri buraya eklenebilir -->
  </div>
</div>
